body {
  direction: rtl;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

* {
  font-family: Vazirmatn FD;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../../node_modules/vazirmatn/misc/Farsi-Digits/Vazirmatn-FD-font-face.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/jquery-nice-select/scss/nice-select";
@import "../../node_modules/hc-offcanvas-nav/dist/hc-offcanvas-nav.carbon.css";
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../../node_modules/owl.carousel/dist/assets/owl.theme.default.css";
@import 'nav';
@import "home";
@import "profile";
@import "single";
@import "footer";

