body img {
    border-radius: 30px;
}
#head-offers img {
    width: 360px;
    height: 220px;
    transition: 400ms;
    opacity: 85%;
}

#head-offers img:hover {
    opacity: 100%;
    transform: scale(102%);
}
.item img {
     width: 100px;
    height: 250px;
}
.item h4{
    text-align: center;
    font-size: 14px;
}
.item del {
    display: block;
    text-align: center;
    color: red;

}
.item span {
    display: block;
    text-align: center;
}
#body-part1 {

}
