body img {
    border-radius: 30px;
}
#head-offers img {
    width: 360px;
    height: 220px;
    transition: 400ms;
    opacity: 85%;
}

#head-offers img:hover {
    opacity: 100%;
    transform: scale(102%);
}

.box-main  del {
    display: block;
    text-align: center;
    color: #666666;
    font-size: 12px;

}
.box-main  span {
    display: block;
    text-align: center;
    color: dodgerblue;
}
.box-main {
    background-color: white;
    border-radius: 30px;
}
.box-main h4 {
    font-size: 14px;
    text-align: center;
}
